body {
  margin: 0;
  background-image: linear-gradient(to right, #7486c6, #8587c5, #9389c3, #9f8bc0, #aa8dbe, #b58fbe, #bf90bd, #c892bb, #d594ba, #e195b7, #ec97b4, #f79aaf);
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  position: sticky;
  border-radius: 5px;
  border: 10px solid transparent;
  background-color: rgba(245, 245, 245, 0.30);
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255)!important;
}

/* mouse over link */
a:hover {
  color: rgba(210, 207, 207, 0.791) !important;
}
  h1, h2, h3, p {
    color: white;
    margin: 20px;
    text-shadow: 1px 1px 2px black;
}
a {
  /* color: white !important; */
  margin: 20px;
  text-decoration: none !important; 
  text-shadow: 1px 1px 2px black;
}


input[type=text], select {
  width: 98%;
  padding: 12px 20px;
  margin: 8px 10px 10px 10px;
  display: inline-block;
  border: 1px solid rgb(110, 110, 110);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
button[type=submit] {
  width: 20%;
  background-color: #7954adc1;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=id] {
  color: white;
}

img {
  max-height: 500px;
  max-width: 500px;
  border-radius: 8px;
}

* {
  
}